<div class="container text-center">
    <div class="card">
        <img src="public/assets/images/404.png" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">Error 404: Page Not Found</h5>
          <a href="#" class="btn btn-primary">Go Back Home</a>
        </div>
    </div>
</div>
